body {
	margin: 0;
	font-family:'Engravers-Gothic';
	text-transform: uppercase;
}

ul {
	margin: 0;
	padding: 0;
}

a {
	text-decoration: none;
}

p {
	margin: 0;
}

img {
	border: none; /*IE border fix*/
}

header {
	text-align: center;
	font-size: 12px;
	color: #999;
}

header a {
	color: #999;
}

.barWrapper {
	height: 28px;
	background-color: #2a3a48;
}

.bar-content {
	margin: 0 auto;
	width: 1000px;
	font-size: 10px;
	line-height: 23px;
}

.bar-content li {
	display: inline-block;
	padding: 0 8px;
}

.bar-content a {
	color: #fff;
}

.headerContent {
	width: 1000px;
	margin: 0 auto;
	position: relative;
}

.language {
	position: absolute;
	top: 15px;
}

.logo a {
	display: block;
	height: 109px;
	width: 200px;
	margin: 0 auto;	
	padding-left: 22px;
}

.account {
	position: absolute;
	right: 0;
	top: 19px;
	width: 280px;
}

.account p {
	float: left;
}

.account a {
	float: right;
}

.cart {
	position: absolute;
	right: 0;
	top: 41px;
}

.tabletCart {
	display: none;
}

.cart span { /*Оставил span для иконки внутри ссылки, из-за отображения иконки внутри текста*/
	display: inline-block;
	width: 15px;
	height: 12px;
	background: url(../assets/sprite.png) no-repeat -132px -139px;
}

.mobileNav {
	display: none;
}

.navHeader {
	border-top: 1px solid #ccc;
	border-bottom: 1px solid #ccc;
	font-size: 14px;
	height: 43px;
}

.navHeader nav {
	width: 650px;
	margin: 0 auto;
}

.navHeader a:hover {
	color: #555;
}

.navHeader li {
	display: inline-block;
	line-height: 43px;
	padding: 0 8px;
}

.searchWrapper {
	position: absolute;
	right: 0;
	top: 121px;
}

.searchWrapper input {
	border: 1px solid #ccc;
	color: #999;
	width: 150px;
}

.searchWrapper button {
	background: url(../assets/sprite.png) no-repeat -127px -203px;
	height: 15px;
	width: 15px;
	border: none;
	vertical-align: text-bottom;
}

.customSelect {
    width: 138px;
}

.customSelect p {
	display: inline-block;
}

.currentOption {
    width: 100px;
    line-height: 25px;
    cursor: pointer;
    display: inline-block;
}

.currentOption span:after {
	content: '';
	display: inline-block;
	width: 12px;
	height: 7px;
	background: url(../assets/sprite.png) no-repeat -182px -165px;
}

.currentOption b img{
    width: 10px;
    height: 20px;
}

.customOptions {
    display: none;
    width: 100px;
    margin-left: 33px;
    background: #f7f7f7;
    border: 1px solid #c0c0c0;
}

.customOptions li {
    list-style: none;
    line-height: 25px;
}

.customOptions li:hover{
    background: #d2d2d2;
    cursor: pointer;
}

.language select, .mobile-language select {
    display: none;
}